*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    
    
}
html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding: 1px;
}
#nav{
    height: 11vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav h3{
    display: none;
}
#nav h2{
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    border-right: 2px solid black;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    color: rgb(190, 54, 0);
    
}
#nav h1{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monument;
    font-size: 30px;
    position: relative;
     
     background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}
#nav h2:nth-last-child(1){
    width: 7%;
}
.center{
    height: 80%;
    width: 100%;
    position: relative;
    padding: 4vw;
}
#content{
    height: 100%;
    width: 100%;
    background-color: blue;
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
   object-fit: cover;
   
}

.overlay{
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
   color: #ffff; 


}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#over1 h1{
    font-family: monument;
     font-size: 3.6vw;
     mix-blend-mode: difference;
}
.scroll{
    height: 40vh;
    width: 100%;
    white-space: nowrap;
    overflow-x:hidden;
    overflow-y:hidden;

}
.scroll img{
    height: 85%;
    border-radius: 50vh;
    width: 16%;
    object-fit: cover;
    object-position: 30%, 30%;
    margin: 3px;
}
.container{
    height: 100%;
    width:  100%;
    display: inline-block;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
 
}
.page2-1{
    height: 100%;
    width: 50%;
    background-image: url(https://i.pinimg.com/564x/32/02/a0/3202a08d6706b1dd76d3e6740d02c835.jpg);
    background-position: center;
    background-size: cover;
    
    
}
.page2-2{
    height: 100%;
    width: 45%;
    background-size: cover;
    background-position: center;
}
.page2-2 img{
    height: 70%;
    object-fit: cover;
    width: 100%;
}
.text23{
    height: 100%;
    width:100%;
  
    
}
.text23 h1{
    height: 50vh;
    width: 100%;
    font-size: 20px;
    font-family: monument;
    background: linear-gradient(to right, #bfbfbf, #ff6b08,#15f405, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;;
}

.page3{
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 5vw 4vw;
}

.page3>h1{
    text-align: center;
    font-family: monument;
    font-weight: 800;
    font-size: 3vw;
    margin-bottom: 7vh;

}
.elem img {
    height: 120px;
    width: 120px;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    opacity: 0;
    transition: all ease 0.7s;
    object-position: center;
    object-fit: cover;
    cursor: pointer;

}
.elem:hover img{
    opacity: 1;
    left: 25%;
}
.elem:hover{
    background-color: rgb(255, 245, 245);
}
.elem{
    height: 16vh;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    position: relative;
    transition: all ease 0.7s;

}
.elem h4{
    font-size: 1.1vw;
    font-weight: 500;
    width: 6%;

}
.elem .text-2{
    width: 45%;

}
.text-2 h1{
    font-size: 2.7vw;
    font-weight: 500;

}
.text-2 h5{
    font-size: 1vw;
    font-weight: 500;

}

.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}
@media (max-width:750px){
    border{
        overflow-x: hidden;
    } 
    #nav{
        height: 8vh;
         
        margin-top: 20px;
        padding: 0 4vw;
        
    }
    #nav h2{
        height: 100%;
        width: 18%;
        display: flex;
        align-items: center;
        border-right: 2px solid black;
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
        color: rgb(190, 54, 0);
        display: none;
        
    }
    #nav h1{  
        width: 40%;
        justify-content: flex-start; 
        font-size: 24px; 
         
         background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
         -webkit-text-fill-color: transparent;
         -webkit-background-clip: text;
    }
    #nav h2:nth-last-child(1){
        width: 7%;
    }
    #nav h3{
        display: block;
    }


    .center{
        height: 40%;
        width: 100%;
        position: relative;
        padding: 4vw;
    }
    #content{
        height: 100%;
        width: 100%;
        background-color: blue;
        position: relative;
    }
    
    #content video{
        height: 100%;
        width: 100%;
       object-fit: cover;
       
    }
    
    .overlay{
        height: fit-content;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 3vw;
       color: #ffff; 
    
    
    }
    #over1{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    #over1 h1{
        font-family: monument;
         font-size: 5vw;
         mix-blend-mode: difference;
    }


    .scroll{
        height: 12vh;
        width: 100%;
         
         
    
    }
    .scroll img{
        height: 100%;
        border-radius: 50vh;
        width: 12%;
        object-fit: top;
        object-position: 30%, 30%;
        margin: 3px;
    }
    .container{
        height: 100%;
        width:  180%;
        display: inline-block;
        animation-name: anime;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    
    }
    @keyframes anime{
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-100%);
        }
    }

    .page2{
        height: 80%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 5vw;
        
     
    }
    .page2-1{
         margin-bottom: 10vh;
        height: 78%;
        width: 50%;
        background-image: url(https://i.pinimg.com/564x/32/02/a0/3202a08d6706b1dd76d3e6740d02c835.jpg);
        background-position: center;
        background-size: cover;
    }
    .page2-2{
        margin-bottom: 10vh;
        height: 78%;
        width: 48%;
        background-size: cover;
        background-position: center;
    }
    .page2-2 img{
        height: 80%;
        object-fit: cover;
        width: 100%;
    }
    .text23{
        height: 100%;
        width:100%;
    }

    .text23 h1{
        height: 50vh;
        width: 100%;
        font-size: 20px;
        font-family: monument;
        background: linear-gradient(to right, #bfbfbf, #ff6b08,#15f405, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;;
    }
    
    .page3{
        
        height: 100vh;
        width: 100vw;
        position: relative;
        padding: 0 4vh vh;

    }
    
    .page3>h1{
        
        text-align: center;
        font-family: monument;
        font-weight: 800;
        font-size: 6vw;
        margin-bottom: 7vh;
    
    }
    .text-2 h1 {
        font-size: 5.5vw;
    }
    .text-2 h5{
        font-size: 2.5vw;
    }
    .elem h4{
        font-size:3vw;
    }


    .elem img {
        height: 15.5vh;
        width: 25.5vw;
        position: absolute;
        border-radius: 50%;
        left: 12%;
        opacity: 0;
        transition: all ease 0.7s;
        object-position: center;
        object-fit: cover;
        cursor: pointer;
    }
    
}
 